{{!--
    Wonder Cabinet Navigation
    Single-row layout: Nav links left, centered logo, actions right (matching Figma spec)
--}}

<header id="gh-head" class="gh-head gh-outer wc-head{{#if isTransparent}} is-head-transparent{{/if}}">
    <div class="gh-head-inner{{#unless fullWidth}} gh-inner{{/unless}} wc-head-row">
        {{!-- Left nav links (uses {{navigation}} helper which loads partials/navigation.hbs) --}}
        <nav class="wc-head-nav wc-head-nav--left" aria-label="Main navigation">
            {{navigation}}
        </nav>

        {{!-- Centered logo (spiral icon only per Figma) --}}
        <a class="gh-head-logo wc-head-logo" href="/">
            <img src="{{@site.logo}}" alt="{{@site.title}}">
        </a>

        {{!-- Right actions --}}
        <div class="wc-head-nav wc-head-nav--right">
            <button class="gh-search wc-head-search" aria-label="Search this site" data-ghost-search>
                <img src="{{asset "images/icon-search.svg"}}" alt="" width="20" height="20">
            </button>
            {{#if @site.members_enabled}}
                {{#unless @member}}
                    <a class="wc-head-signin" href="#/portal/signin" data-portal="signin">Sign in</a>
                    {{#unless @site.members_invite_only}}
                        <a class="wc-head-subscribe" href="#/portal/signup" data-portal="signup">Subscribe</a>
                    {{/unless}}
                {{else}}
                    <a class="wc-head-signin" href="#/portal/account" data-portal="account">Account</a>
                {{/unless}}
            {{/if}}
        </div>

        {{!-- Mobile burger --}}
        <button class="gh-burger wc-burger" aria-label="Toggle menu"></button>
    </div>

    {{!-- Mobile menu overlay (inside header so .is-head-open toggle works) --}}
    <div class="wc-mobile-menu" id="wc-mobile-menu">
        <nav class="wc-mobile-nav wc-mobile-nav-links" aria-label="Mobile navigation">
            {{navigation}}
        </nav>
        <nav class="wc-mobile-nav" aria-label="Mobile actions">
            {{#if @site.members_enabled}}
                <div class="wc-mobile-actions">
                    {{#unless @member}}
                        <a class="wc-mobile-signin" href="#/portal/signin" data-portal="signin">Sign in</a>
                        {{#unless @site.members_invite_only}}
                            <a class="wc-head-subscribe wc-head-subscribe--mobile" href="#/portal/signup" data-portal="signup">Subscribe</a>
                        {{/unless}}
                    {{else}}
                        <a class="wc-mobile-signin" href="#/portal/account" data-portal="account">Account</a>
                    {{/unless}}
                </div>
            {{/if}}
        </nav>
    </div>
</header>
